@font-face {
    font-family: 'lemonmilk';
    src: url('./fonts/lemonmilk-regular-webfont.woff2') format('woff2'),
         url('./fonts/lemonmilk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('./fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('./fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('./fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lemonmilklight';
    src: url('./fonts/lemonmilk-light-webfont.woff2') format('woff2'),
         url('./fonts/lemonmilk-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* lemonmilklight     lemonmilk    roboto     robotobold */

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.libraryPage{
    display: grid;
    grid-template-rows: minmax(100px, 1fr) minmax(500px, 5fr);
    height: inherit;
    width: inherit;
}

.header{
    grid-row: 1/2;
    display: grid;
    grid-template-columns: minmax(400px, 1fr);
    padding: 20px;
    align-items: center;
    justify-items: center;
    background-image: url(./pics/teal.jpg);
    background-size: cover;
}
.headertitle{
    font-family: lemonmilk;
    font-size: 80px;
    color: #f6f2ea;
    align-self: center;
}


.main{
    grid-row: 2/3;
    display: grid;
    grid-template-columns: minmax(60px, 120px) minmax(40px, 80px) 
    minmax(400px, 1fr) minmax(40px, 80px) minmax(60px, 120px);
    height: inherit;
}
.left{
    grid-column: 1/2;
    background-image: url(./pics/library.jpg);
    background-position: right top;
}
.sidel{
    grid-column: 2/3;
    background: linear-gradient(90deg,#130801 0%, #472d17 50%, #311605 100%);
}
.sider{
    grid-column: 4/5;
    background: linear-gradient(90deg,#311605 0%, #472d17 50%, #130801 100%);
}
.right{
    grid-column: 5/6;
    background-image: url(./pics/library.jpg);
    background-position: left top;
}
.library{
    grid-column: 3/4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background: 
    linear-gradient(90deg,#130801 0%, #311605 50%, #130801 100%);
    align-content: start;
}
.addButton{
    height: 100%;
    max-height: 200px;
    min-height: 170px;
    width: 150px;
    border: 1px solid #ffffff1c;
    border-radius: 5px 10px 10px 5px;
    border-left: 10px solid #ffffff3d;
    border-bottom-color:#969393;
    box-sizing: border-box;
    font-family: lemonmilklight;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.541);
    color: rgb(85, 80, 80);
}
.addButton:hover{
    border: 2px solid #ffffff36;
    border-left: 10px solid #ffffff36;
    background-color: rgb(85, 80, 80);
    color: rgba(255, 255, 255, 0.541);
    cursor: pointer;
}
.bookDiv, .addDiv{
    min-height: 170px;
    max-height: 200px;
    border-bottom: 30px solid #351a09;
    padding: 20px 30px 0;
    position: relative;
    align-content: center;
    justify-items: center;
}
.bookDiv>.deleteButton{
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.158);
    border-radius: 20px;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 210px;
    left: 45px;
    cursor: pointer;
}
.bookDiv>.bookRead{
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 20px;
    border: none;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 200px;
    left: -25px;
    cursor: pointer;
}
.bookDiv:hover button{
    opacity: 1;
    visibility: visible;
}
.bookDiv .deleteButton>svg{
    width: 40px;
    aspect-ratio : 1 / 1;
    fill: rgba(255, 255, 255, 0.884);
}
.bookRead>svg{
    width: 40px;
    aspect-ratio : 1 / 1;
    fill: rgba(255, 255, 255, 0.884);
}
.book{
    justify-items: center;
    align-content: end;
    border: 1px solid #ffffff1c;
    border-radius: 5px 10px 10px 5px;
    border-left: 10px solid #ffffff5b;
    box-sizing: border-box;
    height: 100%;
    max-height: 200px;
    min-height: 170px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
.book:hover{
    cursor: pointer;
}
.bookTitle{
    visibility: hidden;
    position: relative;
    transition: .3s ease-in-out;
    text-align: center;
    font-family: robotobold;
    font-size: 15px;
    color: white;
    width: 100%;
}
.book:hover .bookTitle{
    visibility: visible;
    text-shadow: 3px 0 #200007, -3px 0 #200007, 0 3px #200007, 
    0 -3px #200007, 2px 2px #200007, -2px -2px #200007, 
    2px -2px #200007, -2px 2px #200007;
    padding: 20px 5px 20px;
}
.library *:focus{
    outline: 3px solid #50e909da;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.336);
}


#addBook{
    width: 50%;
    min-width: fit-content;
    height: fit-content;
    background-color: #f6f2ea;
    border: 5px solid #ffffff96;
    border-radius: 20px;
    box-shadow: 0px 0px 60px 30px #1e423f;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    align-content: start;
    align-items: start;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
#addBook:not([open]) {
  display: none;
}
#addBook::backdrop{
    background-color: #0000008c;
}
.addClose{
    background-color: transparent;
    border: none;
    justify-self: end; 
    align-self: start;
    padding: 0;
    margin: 0;
}
.addClose>svg{
    width: 30px;
    aspect-ratio : 1 / 1;
    fill: #1e423f;
    
}
.addClose:hover>svg{
    cursor: pointer;
    fill: #4eb1a7;
}

.addForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 0 50px;
}
.addForm>fieldset{
    border: 1px solid #311605;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    row-gap: 15px;
    padding: 0 20px 20px;
    width: 100%;
}
.addForm legend{
    font-family: lemonmilk;
    font-size: 22px;
    color: #311605;
    padding: 0 10px;
    margin-bottom: 20px;
}
.addForm>fieldset>div{
    display: grid;
    grid-template: min-content 1fr/1fr;
    gap: 1px;
}
fieldset>div>label, .addReadLabel{
    font-family: lemonmilk;
    font-size: 18px;
    color: #1e423f;
}
.addRead label{
    font-family: lemonmilklight;
    font-size: 15px;
}
div>input{
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    height: 20px;
    font-size: 15px;
    font-family: roboto;
    background-color: #c2beb967;
}
.addGenre>select{
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    height: 25px;
    font-size: 15px;
    font-family: roboto;
    background-color: #c2beb967;
}
.addForm .addSubmit{
    width: fit-content;
    padding: 10px 20px;
    font-family: lemonmilk;
    font-size: 15px;
    border-radius: 10px;
    color: #80685c;
    background-color: #c29b872d;
    border: 3px solid #967768;
    outline: 2px solid #80685c;
}
.addForm .addSubmit:hover{
    color: #1e423f;
    background-color: #1e423f36;
    border: 3px solid #1e423f;
    outline: 2px solid #142c2a;
}
#addBook *:focus{
    outline: 3px solid #1d9c8bb2;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.336);
    font-weight: bold;
}



#deleteBook{
    width: 50%;
    min-width: 300px;
    height: fit-content;
    background-color: #f6f2ea;
    border: 5px solid #ffffff96;
    border-radius: 20px;
    box-shadow: 0px 0px 60px 30px #410404;
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 20px;
}
#deleteBook:not([open]) {
  display: none;
}
#deleteBook::backdrop{
    background-color: #0000008c;
}
.deleteClose{
    grid-area: 1/2/2/3;
    background-color: transparent;
    border: none;
    justify-self: end;
    align-self: start;
}
.deleteClose>svg{
    width: 30px;
    aspect-ratio : 1 / 1;
    fill: #1e423f;
}
.deleteClose>svg:hover{
    cursor: pointer;
    fill: #4eb1a7;
}
.deleteWarning{
    grid-area: 1/1/2/2;
    align-self: start;
}
.deleteWarning>svg{
    width: 50px;
    aspect-ratio: 1 / 1;
    fill: #960424;
}
.deleteConfirm{
    grid-area: 2/1/3/3;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.deleteConfirmText{
    font-family: lemonmilk;
    font-size: clamp(30px, 0.0893rem + 7.8571vw, 5rem);
    text-align: center;
    color: #860420;
}
.deleteConfirmText2{
    font-family: lemonmilklight;
    font-size: clamp(10px, 0.4911rem + 0.7143vw, 0.9375rem);
    text-align: center;
    margin-bottom: 20px;
}
.deleteButtons{
    display: flex;
    justify-content: space-around;
}
.deleteButtons button{
    font-size: clamp(1.25rem, 0.7143rem + 1.8571vw, 2.5rem);
    font-family: lemonmilk;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 10px;
}
.deleteYES{
    color: #f7d4d4;
    background-color: #680218;
    border: 3px solid #42131d;
    outline: 2px solid #16080b;
}
.deleteYES:hover{
    color: white;
    background-color: #f80b0b;
    border: 3px solid #ce3a3a;
    outline: 2px solid #702626;
    cursor: pointer;
}
.deleteCANCEL{
    color: #eeeaea;
    background-color: #5f6d6c;
    border: 3px solid #3f4242;
    outline: 2px solid #2a2b2b;
}
.deleteCANCEL:hover{
    color: #d3d2d2;
    background-color: #404242;
    border: 3px solid #2f3030;
    outline: 2px solid #0c0c0c;
    cursor: pointer;
}
#deleteBook *:focus{
    outline: 3px solid #1d9c8bb2;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.336);
    font-weight: bold;
}


#bookInfo{
    width: 50%;
    min-width: 400px;
    height: fit-content;
    max-height: 90%;
    background-color: #f6f2ea;
    border: 5px solid #ffffff96;
    border-radius: 20px;
    padding: 30px;
    
    display: grid;
    grid-template-columns: 100px 1fr 1fr 30px;
    grid-template-rows: min-content 1fr;
    row-gap: 10px;
    grid-template-areas: 
    "inforead infotitle infotitle infoclose"
    "infodiv infodiv infopic infopic";
    justify-items: left;
    align-items: center;
}
#bookInfo:not([open]) {
  display: none;
}
#bookInfo::backdrop{
    background-color: #0000008c;
}

.infoReadDiv{
    grid-area: inforead;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
}
.infoReadButton{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    margin: -5px 0 0;
}
.infoReadButton>svg{
    width: 58px;
    fill: #142c2a;
    margin: 0;
    padding: 0;
}
.infoReadButton>svg:hover{
    cursor: pointer;
}
.infoReadText{
    font-family: roboto;
    font-size: 12px;
    margin: -5px 0 0;
    color: #0d1b1a;
    text-align: center;
}

.infoTitle{
    grid-area: infotitle;
    align-self: start;
    font-family: robotobold;
    font-size: 25px;
    text-align: left;
    color: #1e423f;
}
.infoClose{
    grid-area: infoclose;
    align-self: start;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.infoClose>svg{
    width: 30px;
    aspect-ratio : 1 / 1;
    fill: #1e423f;
}
.infoClose:hover>svg{
    cursor: pointer;
    fill: #4eb1a7;
}
.infoDiv{
    grid-area: infodiv;
    width: 90%;
    align-self: start;
    margin-top: 20px;

    display: grid;
    flex-direction: column;
    gap: 15px;
}
.infoDiv>div{
    display: grid;
    grid-template: 1fr 1fr / 50px 1fr ;
    align-items: center;
    column-gap: 5px;
}
.infoDiv svg{
    grid-area: 1/1/3/2;
    width: 50px;
    fill: #381804;
}
.infoDiv .infolabel{
    align-self: end;
    color: #55270a;
    font-family: lemonmilk;
    font-size: 16px;
    text-decoration: underline;
}
.infoDiv .infoAuto{
    align-self: start;
    color: black;
    font-family: roboto;
    font-size: 16px;
}
.infoGenre{
    width: fit-content;
    padding: 0 5px;
    margin-top: 4px;
    border-radius: 5px;
}
.infoPic{
    grid-area: infopic;
    width: 90%;
    max-width: 300px;
    aspect-ratio : 1 / 1.5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    border-radius: 10px 15px 15px 10px;
}
#bookInfo *:focus{
    outline: 3px solid #1d9c8b23;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.062);
    font-weight: bold;
}

